/*
________________________
_________HEADER_________
________________________
*/

header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #F4DFC8;
    border-bottom: 3px solid #776B5D;
    h1 {
        margin-left: 35px;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 2rem;
        text-transform: uppercase;
    }
    .toCart {
        position: absolute;
        right: 32px;
        top: 32px;
    }
};

/*
__________________________
____________MAIN__________
__________________________
*/

main {
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 100px;
    background-color: #FAF6F0;
    
    button {
        border-color: #28221b;
        background-color: #F4DFC8;
    }

/*
___________________________
____PRODUCTS LISTING_______
___________________________
*/

    .productsSort {
        margin-top: 80px;
        margin-bottom: 40px;
        margin-left: 40px;
    }

    .products {
        list-style: none;

        .productImgs {
            display: inline;
            object-fit: cover;
        }

        .productName {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .addToCart {
            margin-top: 16px;

            .decreaseBtn, .increaseBtn {
            border-radius: 20%;
            }
            .amount {
                margin-bottom: 40px;
            }
        }
            
    }
};


/*
___________________________
___CART & CUSTOMER INFO____
___________________________
*/

.cart {
    .emptyCart {
        margin-left: 35px;
        margin-bottom: 32px;
    }
    .customerInfo {
        display: grid;
        justify-content: start;
    }
    .hidden {
        display: none;
    }

    .orderForm {
        margin-left: 35px;
    
        .selector {
            margin-top: 32px;
            margin-bottom: 8px;
        }

        .newsGdprBtns {
            display: grid;
        
            .newsletterBtn {
                margin-top: 32px;
            }
            .gdprBtn {
                margin-top: 12px;
                margin-bottom: 16px;
            }
        }
    }
};