/*______________________
_________HEADER_________
______________________*/

header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #EFC9B4;
    border-bottom: 3px solid #5D7F7A;
    h1 {
        text-transform: uppercase;
        color: #1E3947;
    }
    .btnToCart {
        background-color: #CED2BA;
    }
};

/*
__________________________
____________MAIN__________
__________________________
*/

main {
    margin-top: 100px;
    background-color: #F5F5F5;
};

/*
___________________________
__________PAGE ONE_________
___________________________
*/


/*
___________________________
_________PAGE TWO__________
___________________________
*/

#pageTwo {
    .btnToTop {
        background-color: #CED2BA;
    }
    #customerInfo {
        display: grid;
        justify-content: center;
    }
    .hidden {
        display: none;
    }
};