/*______________________
_________HEADER_________
______________________*/

header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #EFC9B4;
    border-bottom: 3px solid #5D7F7A;
    h1 {
        font-family: 'Syncopate', sans-serif;
        font-size: 2rem;
        text-transform: uppercase;
        color: #1E3947;
    }
};

/*
__________________________
____________MAIN__________
__________________________
*/

main {
    font-family: 'Farro', sans-serif;
    margin-top: 100px;
    background-color: #F5F5F5;
};

/*
___________________________
____PRODUCTS LISTING_______
___________________________
*/


/*
___________________________
___CART & CUSTOMER INFO____
___________________________
*/

#cart {
    #customerInfo {
        display: grid;
        justify-content: center;
    }
    .hidden {
        display: none;
    }
};